.App {
  text-align: center;

}
.main_container {
  box-sizing: border-box;
  width: 80%;
  height: fit-content;
  padding: 40px;
  background: rgb(232, 232, 232);
  margin: 200px auto;
  border-radius: 10px ;
  box-shadow: inset 5px 5px 25px gray;
  
}








